{% extends "base.html" %}

{% block bodyclass %}signup{% endblock %}

{% block content %}

<div class="container signup-container">

  {% from "/partials/_formhelpers.html" import render_field %}
  <form action="{{url_for('accounts.signup')}}" method="POST" name="signup">
    {{ form.csrf_token }}

    <div class="form-group">
      {{ render_field(form.email, class='form-control', placeholder='Email') }}
      {{ render_field(form.password, class='form-control', placeholder='Password') }}
      {{ render_field(form.confirm, class='form-control', placeholder='Confirm Password') }}
    </div>

    <button type="submit" class="btn btn-primary signup-btn">Sign Up</button>
  </form>

</div>

{% endblock %}