{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
    {% for category, message in messages %}
        {# <div class="alert alert-{{ category }}"> #}
        {# TODO refactor this so that PNotify is its own function #} 
          {% if category == "success" %}
            <script>
              $(function(){
                toastr.success('{{message}}');
              });
            </script>
          {% elif category == "info" %}
            <script>
              $(function(){
                toastr.info('{{message}}');
              });
            </script>
          {% elif category == "warning" %}
            <script>
              $(function(){
                toastr.warning('{{message}}');
              });
            </script>
          {% elif category == "danger" %}
            <script>
              $(function(){
                toastr.error('{{message}}');
              });
            </script>
          {% endif %}
          {# {{ message|safe }} #}
        </div>
    {% endfor %}
{% endif %}
{% endwith %}